In [2]:
import pandas as pd

In [3]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
nyc_bicketrip_df = pd.read_csv("201908-citibike-tripdata.csv",low_memory=False)
nyc_bicketrip_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [4]:
# 2. Check the datatypes of your columns. 
nyc_bicketrip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [6]:
# 2b. .
nyc_bicketrip_overanhour = nyc_bicketrip_df.loc[nyc_bicketrip_df['tripduration']>3600]
nyc_bicketrip_overanhour.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
145,5295,2019-08-01 00:09:48.7920,2019-08-01 01:38:04.4290,417.0,Barclay St & Church St,40.712912,-74.010202,427.0,Bus Slip & State St,40.701907,-74.013942,18649,Customer,1969,0
149,5279,2019-08-01 00:09:57.5240,2019-08-01 01:37:57.1310,417.0,Barclay St & Church St,40.712912,-74.010202,427.0,Bus Slip & State St,40.701907,-74.013942,16755,Customer,1969,0
263,5711,2019-08-01 00:17:30.1660,2019-08-01 01:52:41.3350,3286.0,E 89 St & 3 Ave,40.780628,-73.952167,3148.0,E 84 St & 1 Ave,40.775655,-73.950686,35086,Customer,1969,0
288,5578,2019-08-01 00:19:38.4260,2019-08-01 01:52:36.6760,3286.0,E 89 St & 3 Ave,40.780628,-73.952167,3148.0,E 84 St & 1 Ave,40.775655,-73.950686,34245,Customer,1969,0
313,347819,2019-08-01 00:21:28.7640,2019-08-05 00:58:28.4060,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3122.0,48 Ave & 5 St,40.744363,-73.955873,33757,Subscriber,1985,1

In [7]:
# 3. Convert the 'tripduration' column to datetime datatype.
nyc_bicketrip_df['tripduration'] = pd.to_datetime(nyc_bicketrip_df['tripduration'],unit = 's')
nyc_bicketrip_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:06:33,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,1970-01-01 00:10:27,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1970-01-01 00:18:52,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1970-01-01 00:29:40,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1970-01-01 00:25:17,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [8]:
# 4. Check the datatypes of your columns. 
nyc_bicketrip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 268.3+ MB

In [9]:
# 5. Export the Dataframe as a new CSV file without the index.
nyc_bicketrip_df.to_csv("201908-citibike-tripdata_modified.csv",index=False)